ICP7/Source/Lowercase flow.json
[{"id":"b563b8c8.f5fe68","type":"tab","label":"Lowercase","disabled":false,"info":""},{"id":"e05e2fef.6dfd1","type":"lower-case","z":"b563b8c8.f5fe68","name":"","x":364,"y":93,"wires":[["d5ad89aa.697538"]]},{"id":"e0ec3744.702508","type":"inject","z":"b563b8c8.f5fe68","name":"","topic":"","payload":"Ali","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204,"y":93,"wires":[["e05e2fef.6dfd1"]]},{"id":"d5ad89aa.697538","type":"debug","z":"b563b8c8.f5fe68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524,"y":93,"wires":[]}]