ICP7/Source/Tempreture flow.json
[{"id":"a7baba89.b0f8e8","type":"tab","label":"Tempreture","disabled":false,"info":""},{"id":"5b646dfd.21b464","type":"function","z":"a7baba89.b0f8e8","name":"celcius to farenheit","func":"var weather = msg.payload.tempc;\nweather = (weather * 9)/5 + 32;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["cca12357.432bb"]]},{"id":"38de5ec3.7b4e52","type":"openweathermap","z":"a7baba89.b0f8e8","name":"","wtype":"current","lon":"","lat":"","city":"Lenexa","country":"US","language":"en","x":270,"y":140,"wires":[["5b646dfd.21b464"]]},{"id":"5ff8a879.255c78","type":"inject","z":"a7baba89.b0f8e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["38de5ec3.7b4e52"]]},{"id":"cca12357.432bb","type":"debug","z":"a7baba89.b0f8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]}]